@font-face {
    font-family: "Bellota-LightItalic";
    src: url("../fonts/Bellota-LightItalic.otf");
}

@font-face {
    font-family: "Bellota-BoldItalic";
    src: url("../fonts/Bellota-BoldItalic.otf");
}



.html{
    font-family: Arial,Helvetica,Sans-serif;
}

body {
    line-height: 17px;
    background-color: #ecf0f1;
}


.top_bar {
    width: 100%;
    min-width: 1050px; 
    height: 40px;
    background-color: #2ecc71;
    border-bottom: .25em solid #27ae60;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

a{
    color: #27ae60;
    text-decoration: none;
}

.logo a {
    font-family: "Bellota-BoldItalic", sans-serif;
    margin-left: 10px;
    font-size: 30px;
    position: relative;
    top: 9px;
    color:black;
    text-shadow: black 0.5px 0.5px 0px ;
}

a:hover {
    text-decoration: none;
}

nav{
    float:right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a{
    position:  relative;
    color: white ;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover{
    border-bottom: 7px solid black;
    color: black;
}

.wrapper {
    margin:0 auto;
    top:50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 1px grey ;
    z-index: -1;
}

.user_details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
}

.user_details img{
    height: 120px;
    border-radius: 5px;
    margin-right: 5px;
}

.user_details_left_right {
    width: 120px;
    display: inline-block;
    position: absolute;
}

.main_column{
    float:right;
    width: 72%;
    z-index: -1;
    min-height: 170px;
}

.pos

.post_form {
    width: 100%;
}

.status_post{
    width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height:75px;
    cursor: pointer; 
}

 .post_profile_pic{
    float:left;
    margin-right: 7px;
 }

 .post_profile_pic img{
    border-radius: 5px;
 }

.post_form textarea {
    width: 81%;
    height: 60px;
    border-radius: 3px;
    margin-right:  5px;
    border: 1px solid grey;
    font-size: 12px;
    padding: 5px; 
}

textarea:focus {
    outline: 0;
}

.post_form input[type = "submit"]{
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 3px;
    background-color: #2ecc71;
    font-family: "Bellota-BoldItalic",sans-serif;
    color: black;
    text-shadow: black 0.5px 0.5px 0px ;
    font-size: 90%;
    position: absolute;
    outline: 0;
    margin:0;
}

.post_form input[type="submit"]:active{
    padding: 5px 4px 4px 5px;
}

#comment_iframe{
    max-height: 250px;
    width: 100%;
}

.comments_section{
    padding: 0 5px 5px 5px;
}

.comments_section img{
    padding: 0 3px 3px 3px;
    border-radius: 3px;
}

#comment_form textarea{
    border-color: silver;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    color: grey;
    font-size: 14px;
    margin: 3px 3px 3px 5px; 
}

#comment_form input[type = "submit"]{
    border: none;
    border-color: #27ae60;
    background-color: #27ce80;
    border-radius: 5px;
    width:13%;
    height:35px;
    margin-top: 3px;
    position: absolute;
    font-family: 'Bellota-BoldItalic',sans-serif;
    color: white;
    /*text-shadow: black;*/
}

.newsFeedPostOptions{
    color:green;
    padding: 0px;
    text-decoration: none;
    border: none;
}

.newsFeedPostOptions iframe{
    border: 0px;
    height: 17px;
    width: 120px;
    position: relative;
}

.newsFeedPostOptions form{
    position: absolute;
    top:0;
}




.comment_like{
    border-radius: 3px; 
    border:none;
    font-size: 14px;
    padding: 2px 2px 2px 2px;
    height: auto;
    width: auto;
    margin:0;
    background-color: green;
    color: white;
}

.like_value{
    display: inline;
    font-size: 14px; 
}

.like_page_form{
    position: absolute;
    top:0;
    background-color: transparent;
}

.like_entire{
    background-color: white;
}

.profile_left{
     top: -10px;
     width: 17%;
     max-width: 240px;
     min-width: 130px;
     height: 100%;
     float: left;
     position: relative;
     background-color: #27ae60;
     border-right: 10px solid #2ecc71;
     color: #ecf0f1;
     margin-right: 20px;
}

.profile_left img{
    min-width: 80px;
    width:55%;
    margin: 20px;
    border:5px solid #27ae60;
    border-radius: 100px;
}

.profile_info{
    display: list-item;
    background-color: #27ae60;
    width: 100%;
    padding: 10px 0 10px 0;
}

.profile_info p{
    margin: 0 0 0 20px;
    word-wrap:break-word; 
}

.danger {
    background-color: #e74c3c;
}
.warning {
    background-color: #f0ad4e;
}
.default {
    background-color: #bdc3c7;
}
.success {
    background-color: #2ecc71;
}
.info {
    background-color: #3498db;
}
.deep_blue {
    background-color: red;
}
.profile_left input[type="submit"]{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: #fff;
}

#accept_button{
    width:20%;
    height: 28px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: white;
    background-color: green;
}

#ignore_button{
    width:20%;
    height: 28px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: white;
    background-color: red;
}

.delete_button{
    height: 22px;
    width: 22px;
    padding: 0;
    float: right;
    border-radius: 4px;
    right: -15px;
    position: relative;
}

.profile_main_column{
    min-width: 675px;
    float:left;
    width: 70%;
    z-index: -1;
}

.profile_info_bottom{
    margin: 10 0 0 12px;
}

#message_textarea{
    width: 80%;
    margin-right:8px;
    border-radius: 3px;
    border: 1px solid grey;
    font-size: 12px;
}

#message_submit{
    height: 53px;
    width: 120px;
    margin: 0;
    position: absolute;
    border:none;
    background-color: #27ae60;
    color: white;
    border-radius: 5px;
    font-family: 'Bellota-BoldItalic',sans-serif;
    text-shadow: lightgreen 0.5px 0.5px 0px;    
}

.message {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    color: #fff;
}

.message#blue {
    background-color: #3498db;
    border-color: #2980b9;
    float: right;
    margin-bottom: 5px;
}

.message#green {
    background-color: #2ecc71;
    border-color: #27ae60;
    float: left;
    margin-bottom: 5px;
}

.loaded_messages {
    height: 65%;
    min-height: 300px;
    max-height: 400px;
    overflow: auto;
    margin-bottom: 10px;
}


 .loaded_conversations {
    max-height: 216px;
    overflow: auto;
    width:100%;
 }

 .user_found_messages{
    border-bottom: 1px solid grey;
    padding: 8px 8px 10px 8px;
 }

 .user_found_messages:hover{
    background-color: grey;
    color: white;
 }

 .user_found_messages img{
    height: 35px;
    float:left;
 }

 #grey{
    color:#8c8c8c;
 }

 .resultDisplay{
    padding:5px 5px 0 5px;
    height: 60px;
    border-bottom: 1px solid silver;
 }

 .resultDisplay a{
     float: none;
 }

 .resultDisplay:hover{
    background-color: silver;
 }

 .liveSearchProfilePic img{
    height:50px;
    border-radius: 25px;
    margin: 1px 12px 0 2px;
    float: left;
 }

 .liveSearchText{
    background-color: transparent;
    color: #2ecc71;
 }

.liveSearchText p{
    margin-left: 10px;
    font-size: 12px;
    margin:0;
}
.tab-content{
    margin-top:25px;
}

.dropdown_data_window{
    background-color: #fff;
    height: 0px;
    border-radius: 0 0 8px 8px;
    border-top: none;
    width: 300px;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow: auto;
}


.dropdown_data_window_footNote{
    font-family: "Bellota-LightItalic", sans-serif;
    padding: 0 0 0 0;
}

.notification_badge {
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    left: 8px;
    top: -5px;
}

.resultDisplayNotification {
    height: auto;
    color: #2ecc71;
    padding-bottom: 7px;
}

.resultDisplayNotification img {
    height: 40px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.timestamp_smaller {
    font-size: 85%;
    margin: 0;
}

.search{
    margin: 8px 0 0 15%;
    border: none;
}

.search #search_text_input{
    border: thin solid #E5E5E5;
    float: left;
    height: 23px;
    outline: 0;
    width: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.button_holder {
    background-color: silver;
    border: thin solid silver;
    cursor: pointer;
    float: left;
    height: 23px;
    text-align: center;
    width: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/*Might cause issues in chrome browser if not inline*/
.button_holder i{
    margin-top: 4px;
    width: 20px;
}


.search_results {
    background-color: #fff;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
    margin-top: 21px;
}

.search_results_footer{
    padding: 7px 4px 0px 4px;
    height: 30px;
    border: 1px solid #DADADA;
    border-top: none;
    background-color: #2ecc71;
    font-family: 'Bellota-BoldItalic',sans-serif;
    text-decoration: none;
    text-align: center;
}

.search_results_footer a {
    color: #fff;
}


.search_result_indiv {
    padding: 10px;
    height: 100px;
}

.searchPageFriendButtons {
    float: right;
    min-width: 150;
}

.searchPageFriendButtons input[type="submit"] {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
    min-width: 149;
}

.result_profile_pic {
    float: left;
    margin-right: 10px;
}

#search_hr {
    margin-bottom: 0px;
}

.small_profile_pics {
    height: 55px;
    margin: 1px 12px 0 2px;    
}

#settings_input {
    border: 1px solid #ccc;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    float: center;
    clear: both;
    max-width: 100px;
}

.settings_submit {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}
.settings_form_all{
    max-width: 200px;
}



